<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>Webcomics String Tester</title>

        <script type="text/javascript">
            function updateTextArea() {
                definition = '▄';

                {% for key in keys %}
                value = document.getElementById('key_{{key}}').value
                if(value != '')
                    definition += '█{{key}}:' + value;
                {% endfor %}
                definition += '█▄';
                document.getElementById('definition').value = definition;
            }

            function updateTextkeys() {
                definition = document.getElementById('definition').value;
                {% for key in keys %}
                var match = definition.match(/█{{key}}:(.*?)█/)
                if(match != null && match[1] != '')
                    document.getElementById('key_{{key}}').value = match[1];
                else
                    document.getElementById('key_{{key}}').value = '';

                {% endfor %}
            }
        </script>
    </head>
    <body>

        <iframe width="700" height="700" id="comic" style="float: right;"></iframe>

        <form action="/" method="POST" target="comic" id="submitform">
        <table>
        {% for key in keys %}
            <tr><td>{{ key }}</td><td><input size="80" name="{{ key }}" id="key_{{ key }}" onkeyup="updateTextArea()" value="" /></td></tr>
        {% endfor %}
        </table>

        <textarea width="100" height="100" cols="80" rows="10" name="definition" id="definition" onkeyup="updateTextkeys();"></textarea>
        <br />
        <input type="text" name="url" id="url" size="80"/>

        <button type="submit">SUBMIT</button>
        </form>
        <script type="text/javascript">
            updateTextkeys();
            //document.getElementById('submitform').submit();
        </script>
        

    </body>
</html>