<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>Webcomics String Tester</title>

        <script type="text/javascript">
            function updateTextArea() {
                definition = '▄';

                {% for key in keys %}
                value = document.getElementById('key_{{key}}').value
                if(value != '')
                    definition += '█{{key}}:' + value;
                {% endfor %}
                definition += '█▄';
                document.getElementById('definition').value = definition;
            }

            function updateTextkeys() {
                definition = document.getElementById('definition').value;
                {% for key in keys %}
                var match = definition.match(/█{{key}}:(.*?)█/)
                if(match != null && match[1] != '')
                    document.getElementById('key_{{key}}').value = match[1];
                else
                    document.getElementById('key_{{key}}').value = '';

                {% endfor %}
            }
        </script>
    </head>
    <body>

        <!-- Comic -->
        <iframe style="width: 59%; background-color: #e8f6eb; border: 2px solid #466e50;float: right;" height="700" id="comic"></iframe>

        <!-- Comic Definition -->
        <div style="border: 2px solid #466c6e; background-color: #cef4f6; float: left; width: 35%; padding: 2%;">
            <h2 style="text-align: center; margin: 0;">Comic Definition</h2>
            <form action="/" method="POST" target="comic" id="submitform">

                <textarea  height="100" rows="10" style="width: 90%; margin-left: 5%;" name="definition" id="definition" onkeyup="updateTextkeys(); document.getElementById('url').value = ''">{{definition}}</textarea>
                {% for key in keys %}
                <label style="width: 30%; display: inline-block;text-align: right;" for="key_{{key}}">{{ key }}</label>
                <input style="width: 65%;margin: 7px;" name="{{ key }}" id="key_{{ key }}" onkeyup="updateTextArea()" value="" />
                <br />
                {% endfor %}



                <br />
                <label style="width: 15%; display: inline-block;text-align: right;">Comic url</label>
                <input type="text" name="url" id="url" value="{{url}}" style="width: 80%"/>
                <br />

                <center><button type="submit" style="margin: 15px; padding: 15px;">Test!</button></center>
            </form>
        </div>
        {% if definition %}
        <script type="text/javascript">
            updateTextkeys();
            document.getElementById('submitform').submit();
        </script>
        {% endif %}

        <hr style="clear: both;border-width: 0" />

        <div style="text-align:center; margin: 30px;">
            Go to <a href="http://code.google.com/p/webcomicsapp/wiki/CustomSite">http://code.google.com/p/webcomicsapp/wiki/CustomSite</a> for details about each key
        </div>
    </body>
</html>